<%provide(:title, "About") %>
<h1 class="text-center">About Me</h1>
<div class="container text-center center">
<p>I live in Monterrey, Mexico and work at AR Canales.
I studied economics at ITESM.</p>
<p> I like programming in Lisp, Ruby and Python.</p>
</div>