<%provide(:title, "About") %>
<div id="content">
<h1>About</h1>
<p>I live in Monterrey, Mexico and work at AR Canales.
I studied economics at ITESM.</p>
<p> I like programming in Lisp, Ruby and Python.</p>
</div>