<%provide(:title, "Blog") %>
<h1 class="text-center">Blog</h1>
<div class="text-center">
<% @articles.each do |article| %>
    <h2>
    <%= link_to article.title, article %>
    </h2>
<% end %>
</div>