<%provide(:title, "Blog") %>

<h1 class="text-center">Blog</h1>
<div class="container center">
<% @articles.each do |article| %>
    <h2>
    <a href="/blog/<%= article.id %>">
    <%= article.title %>
    </h2>
<% end %>
</div>