<%provide(:title, "Bookshelf") %>

<div class="center">
<h1 class="container">Bookshelf</h1>
<p class="container center">These are the books I have in my house. Unfortunately, I haven't read all of them.
I don't think you have to read all the book for it to help you. It's your book, use it as you wish.</p>
<ul>
<li>Zero to One</li>
<li>The Power Broker</li>
<li>Hard Landing</li>
<li>Titan</li>
<li>The Prize</li>
<li>Range</li>
<li>Collapse</li>
<li>Einstein</li>
<li>Steve Jobs</li>
<li>Code</li>
<li>Nordic Ideology</li>
<li>Why Information Grows</li>
<li>Guns, Germs and Steel</li>
<li>The Sovereign Individual</li>
<li>The Courage to be Disliked</li>
<li>Business Adventures</li>
<li>Daring Greatly</li>
<li>The Life and Death of American Cities</li>
<li>A Mind for Numbers</li>
<li>The Rise and Fall of American Growth</li>
<li>Grant</li>
<li>The Dream Machine</li>
<li>A Ride to Remember</li>
<li>Shoe Dog</li>
<li>Sapiens</li>
<li>Leonardo Da Vinci</li>
<li>Delivering Happiness</li>
<li>The Everything Store</li>
<li>Invent and Wander</li>
<li>Meditations</li>
<li>Godel, Escher and Bach</li>
<li>Secrets of Sand Hill Road</li>
</ul>
</div>
