@import "_bootstrap-sprockets";
@import "_bootstrap";

body {
    padding-top: 80px;
  }
  
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
  }

  p {
      font-size: large;
  }